<section class="hero-container">
  <div class="hero-content">
    <h1 class="greeting">Hola, soy <span class="highlight">Joaquín Frati</span>.</h1>
    <h2 class="title">Ingeniero de Sistemas</h2>
    
    <p class="bio">
      Apasionado por la arquitectura de software, el desarrollo Fullstack y la creación de 
      soluciones tecnológicas complejas como simuladores y sistemas de tracking.
      Actualmente desarrollando soluciones desde Olavarría, Argentina.
    </p>

    <app-social-bar></app-social-bar>
  </div>

  <div class="hero-image">
    <img src="assets/perfil.jpeg" alt="Foto de Perfil">
  </div>
</section>